{% extends "base.html" %}
{% block content %}

<div class="container px-4 px-lg-5 mt-5" dir="rtl">
    <div class="row">
        <!-- تصویر محصول -->
        <div class="col-md-6">
            <img src="{{ product.picture.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow">
        </div>

        <!-- جزئیات محصول -->
        <div class="col-md-6">
            <h2 class="mb-3">{{ product.name }}</h2>
            <p class="text-muted">دسته‌بندی: {{ product.category }}</p>

            {% if product.is_sale %}
            <s class="text-success mb-3">{{ product.price }} تومان</s>
            <h4 class="text-success mb-3">{{ product.sale_price }} تومان</h4>
            {% else %}
            <h4 class="text-success mb-3">{{ product.price }} تومان</h4>
            {% endif %}

            <p class="mb-4">{{ product.description }}</p>
            
            <form method="post" action="#">
                {% csrf_token %}
                <div class="d-flex">
                    <input type="number" name="quantity" id="cart-qty" value="1" min="1" class="form-control w-25 me-2">
                    <button type="button" class="btn btn-dark" value='{{ product.id }}' id='add-cart'>
                        افزودن به سبد خرید
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $(document).on('click','#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url 'cart_add' %}',
            data:{
                product_id:$('#add-cart').val(),
                product_qty: $('#cart-qty').val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action:'post'
            },
            success:function(json){
<!--                console.log(json)-->
                document.getElementById('cart-quantity').textContent = json.qty;
            },
            error:function(xhr, errmsg, err){

            }
        })
    })
</script>

{% endblock %}
