{% extends "base.html" %}
{% block content %}

<div class="container px-4 px-lg-5 mt-5" dir="rtl">
    <div class="row">
        <!-- تصویر محصول -->
        <div class="col-md-6">
            <img src="{{ product.picture.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow">
        </div>

        <!-- جزئیات محصول -->
        <div class="col-md-6">
            <h2 class="mb-3">{{ product.name }}</h2>
            <p class="text-muted">دسته‌بندی: {{ product.category }}</p>

            {% if product.is_sale %}
            <s class="text-success mb-3">{{ product.price }} تومان</s>
            <h4 class="text-success mb-3">{{ product.sale_price }} تومان</h4>
            {% else %}
            <h4 class="text-success mb-3">{{ product.price }} تومان</h4>
            {% endif %}

            <p class="mb-4">{{ product.description }}Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            
            <form method="post" action="#">
                {% csrf_token %}
                <div class="d-flex">
                    <input type="number" name="quantity" value="1" min="1" class="form-control w-25 me-2">
                    <button type="button" class="btn btn-dark" value="{{ product.id }}" id="add-cart">
                        افزودن به سبد خرید
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).on("click","#add_cart", function(e){
        e.preventDefault;
        $.ajax({
            type:"POST",
            url:"{% url 'cart_add' %}",
            data:{
                product_id:$('#add-cart').val(),
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post'
            },
            success:function(json){
                console.log(json)
            },
            error:function(xhr, errmsg, err){
                
            }
        })
    })
</script>
{% endblock %}
