{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">سبد خرید شما🛒</h1>
            <p class="lead fw-normal text-white-50 mb-0">اینجا فروشگاه من است.</p>
        </div>
    </div>
</header>

<div class="container mt-5" dir="rtl">

  {% if cart_products %}
  <div class="table-responsive">
    <table class="table align-middle table-bordered text-center">
      <thead class="table-success">
        <tr>
          <th scope="col">ردیف</th>
          <th scope="col">تصویر</th>
          <th scope="col">نام محصول</th>
          <th scope="col">قیمت واحد</th>
          <th scope="col">تعداد</th>
          <th scope="col">جمع کل</th>
          <th scope="col">حذف</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <img src="{{ item.picture.url }}" width="90" height="60" class="rounded">
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }} تومان</td>
          <td>
            <div class="d-flex justify-content-center align-items-center">

                <input type="number" id="input{{item.id}}"
                   {% for key,value in quantities.items %}
                    {% if key == item.id|slugify %}
                   value="{{ value }}"
                    {% endif %}
                   {% endfor %}
                   class="form-control form-control-sm text-center mx-2 update-qty" style="width: 50px;">

              <button class="btn btn-outline-secondary btn-sm decrease-qty update-cart"
                      data-index="{{ item.id }}">ویرایش</button>
            </div>
          </td>
          <td>{{ item.price }} تومان</td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-danger delete-product"
            data-index="{{ item.id }}">
              حذف
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<!--مجموع کل و ادامه فرایند خرید-->

  {% else %}
  <div class="alert alert-warning text-center mt-5">
    🛍️ سبد خرید شما خالی است!
    <a href="{% url 'home' %}" class="alert-link">بازگشت به فروشگاه</a>
  </div>
  {% endif %}
</div>

<script>
    $(document).on('click','.update-cart', function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        var newQty = $('#input' + productid).val();
        $.ajax({
            type:'POST',
            url:'{% url 'cart_update' %}',
            data:{
                product_id: productid,
                product_qty: newQty,
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action:'post'
            },
            success:function(json){
                document.getElementById('cart-quantity').textContent = json.qty;
                location.reload();
            },
            error:function(xhr, errmsg, err){

            }
        })
    })


        $(document).on('click','.delete-product', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'{% url 'cart_delete' %}',
            data:{
                product_id: $(this).data('index'),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action:'post'
            },
            success:function(json){
                document.getElementById('cart-quantity').textContent = json.qty;
                location.reload();
            },
            error:function(xhr, errmsg, err){

            }
        })
    })

</script>

{% endblock %}
